@import "tailwindcss";

@theme {
	--color-canvora-50: #e9e9fa;
	--color-canvora-100: #d2d2f5;
	--color-canvora-200: #babaf0;
	--color-canvora-300: #a2a2ea;
	--color-canvora-400: #8b8be5;
	--color-canvora-500: #6965db;
	--color-canvora-600: #5954c5;
	--color-canvora-700: #4945a9;
	--color-canvora-800: #38368c;
	--color-canvora-900: #26276f;
}
